<div class="bg">
  <div class="row no-gutters">
    <div class="col-md-12">
      <div class="container">
        <h2 class="title">
          Áreas de Atuação
        </h2>
        <span class="divider"></span>
        
      </div>
    </div>
  </div> <!-- end row -->
  <div class="row no-gutters">
      <div class="areas-content">
          <ul class="areas-table">
            <li class="col-md-3 col-sm-6 area-list">
              <div class="area-item">
                  <i class="fa fa-handshake-o icon-area" aria-hidden="true"></i>
                  <h3 class="area-title">
                      Administrativo
                  </h3>
                  <p class="area-descpt">
                      At vero eos et accusa mus
                      odio in dignissimos ducimus
                      qui anditiis the tatum
                  </p>
              </div>
            </li>
            <li class="col-md-3 col-sm-6 area-list">
                <div class="area-item">
                    <h3 class="area-title">
                        Administrativo
                    </h3>
                    <p class="area-descpt">
                        At vero eos et accusa mus<br />
                        odio in dignissimos ducimus<br />
                        qui anditiis the tatum
                    </p>
                </div>
              </li>
              <li class="col-md-3 col-sm-6 area-list">
                  <div class="area-item">
                      <h3 class="area-title">
                          Administrativo
                      </h3>
                      <p class="area-descpt">
                          At vero eos et accusa mus<br />
                          odio in dignissimos ducimus<br />
                          qui anditiis the tatum
                      </p>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6 area-list">
                    <div class="area-item">
                        <h3 class="area-title">
                            Administrativo
                        </h3>
                        <p class="area-descpt">
                            At vero eos et accusa mus<br />
                            odio in dignissimos ducimus<br />
                            qui anditiis the tatum
                        </p>
                    </div>
                  </li>
          </ul>
        </div>
  </div>
</div>