<div class="row no-gutters bg">
    <div class="col-md-6 pg-home-left">
      <div class="about-me-box">
        <h2 class="title">O Escritório</h2>
        <span class="divider"></span>
        <p>
          Um escritório que iniciou suas atividades com ênfase nas áreas societária e
          administrativa, rapidamente expandiu-se para outros ramos do Direito, confirmando
          hoje estar apto a atende qualquer tipo de demanda judicial, administrativa e
          empresarial em todo o Brasil.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet ut nulla vitae gravida. Nunc eleifend diam eu dolor auctor fringilla. Etiam pulvinar condimentum commodo. Aliquam id pellentesque sapien. Phasellus vestibulum, quam sit amet interdum mattis, leo diam elementum dui, quis vehicula tortor turpis et quam. 
        </p>
        <a href="">leia mais</a>
      </div>
    </div> <!-- end col -->
    <div class="col-md-6 pg-home-right">
      <div class="panel-article">
      <div class="title-article">
          <h2 class="title">
              Artigos
          </h2>
          <span class="divider"></span>
      </div>
    <article>
        <figure>
            <img src="assets/images/img-article.jpg" alt="">
        </figure>
        <div class="content-post">
            <h3 class="post-title">
                Venezuela é suspensa do Mercosul por romper com a democracia
            </h3>
            <p class="post-description">
                A decisão foi aprovada por unanimidade e anunciada neste sábado (5), após uma reunião em São Paulo.
            </p>
        </div>
    </article> 
    <article>
        <figure>
            <img src="assets/images/img-article2.jpg" alt="">
        </figure>
        <div class="content-post">
            <h3 class="post-title">
                Fachin atende a pedido de Rodrigo Maia e adia depoimento à Polícia Federal
            </h3>
            <p class="post-description">
                Depoimento estava previsto para o próximo dia 8 de agosto. Inquérito foi aberto após delações de ex-executivos Odebrecht.
            </p>
        </div>
    </article>
    </div>
    </div> <!-- end col -->
    </div> <!-- end row -->